# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [6]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

serie_anomalias = pd.Series(anomalias_termicas, anos)

print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [10]:
# seu código aqui
serie_anomalias = pd.Series(anomalias_termicas, index=anos, name="Anomalias Térmicas")

print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalias Térmicas, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [16]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)

print(df)

             0           1           2
0   106.283343  104.309424   99.641294
1   108.535764  100.450475  110.417508
2   121.644599   98.641332   95.737056
3   102.481652  103.549924   82.583694
4    94.837333   90.548247   86.427350
5   113.200525  109.698484   93.297188
6    99.601580  109.548903  100.567839
7   101.858298   83.770178  108.210030
8   103.267943   96.102242   97.498683
9   112.078431  122.702862  120.292077
10   91.634922  129.131757   97.551306
11   93.285064   92.310922  114.004435
12   71.057511  106.296630  115.503837
13  115.782192   95.295543  109.422682
14   99.859817   73.767868  104.733189
15   92.018091   93.559862  119.331338
16   93.087420  107.878177   93.763242
17   99.070938   92.433977  104.528290
18   99.632165  100.279610  104.530729
19   86.726559  116.914483   97.566402

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [20]:
#seu código aqui
df = pd.DataFrame(arr, columns=["x1", "x2", "x3"])

df.index = range(1, 21)

print(df)

            x1          x2          x3
1    95.539242  117.189221  105.656307
2    92.450411   93.312475  112.012801
3    93.042562   92.444678   93.693945
4    96.667618   96.892765  106.331091
5    98.205912  112.950842   88.171646
6    96.253540  107.046841  101.854910
7    87.049496   90.240099   87.641826
8    93.681119   86.437077  103.166848
9   100.485532  107.496884  102.699128
10  118.423192   94.298777  103.501104
11   98.010192   99.981590   93.809262
12   80.825569   78.347029   93.163939
13   92.994395  120.353728  123.282181
14  113.552130   86.095698   98.386228
15   91.200225  115.305495  113.621082
16  121.959522   98.184637   95.953806
17  103.156347  108.089044  109.766823
18   82.443729  106.751497  113.427513
19   97.429816   90.916124  111.783657
20  103.838826  108.017224   93.628400

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [24]:
# seu código aqui
df['media'] = df.mean(axis=1)

print(df)

             0           1           2       media
0   106.283343  104.309424   99.641294  103.411353
1   108.535764  100.450475  110.417508  106.467916
2   121.644599   98.641332   95.737056  105.340996
3   102.481652  103.549924   82.583694   96.205090
4    94.837333   90.548247   86.427350   90.604310
5   113.200525  109.698484   93.297188  105.398732
6    99.601580  109.548903  100.567839  103.239441
7   101.858298   83.770178  108.210030   97.946169
8   103.267943   96.102242   97.498683   98.956289
9   112.078431  122.702862  120.292077  118.357790
10   91.634922  129.131757   97.551306  106.105995
11   93.285064   92.310922  114.004435   99.866807
12   71.057511  106.296630  115.503837   97.619326
13  115.782192   95.295543  109.422682  106.833473
14   99.859817   73.767868  104.733189   92.786958
15   92.018091   93.559862  119.331338  101.636430
16   93.087420  107.878177   93.763242   98.242946
17   99.070938   92.433977  104.528290   98.677735
18   99.632165  100.279610  104.530729  101.480835
19   86.726559  116.914483   97.566402  100.402481

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [26]:
# seu código aqui
df['log_med'] = np.log(df['media'])

print(df)

             0           1           2       media   log_med
0   106.283343  104.309424   99.641294  103.411353  4.638715
1   108.535764  100.450475  110.417508  106.467916  4.667844
2   121.644599   98.641332   95.737056  105.340996  4.657203
3   102.481652  103.549924   82.583694   96.205090  4.566482
4    94.837333   90.548247   86.427350   90.604310  4.506502
5   113.200525  109.698484   93.297188  105.398732  4.657751
6    99.601580  109.548903  100.567839  103.239441  4.637051
7   101.858298   83.770178  108.210030   97.946169  4.584418
8   103.267943   96.102242   97.498683   98.956289  4.594678
9   112.078431  122.702862  120.292077  118.357790  4.773712
10   91.634922  129.131757   97.551306  106.105995  4.664439
11   93.285064   92.310922  114.004435   99.866807  4.603837
12   71.057511  106.296630  115.503837   97.619326  4.581075
13  115.782192   95.295543  109.422682  106.833473  4.671271
14   99.859817   73.767868  104.733189   92.786958  4.530306
15   92.018091   93.559862  119.331338  101.636430  4.621402
16   93.087420  107.878177   93.763242   98.242946  4.587443
17   99.070938   92.433977  104.528290   98.677735  4.591859
18   99.632165  100.279610  104.530729  101.480835  4.619870
19   86.726559  116.914483   97.566402  100.402481  4.609187